.scroll-container {
  position: relative;
  height: 500px;
  overflow: hidden;
  background-color: #000;
  color: #fff;

}

.scrolling-text {
  position: absolute;
  top: 425px;
  width: 100%;
  text-align: left;
  font-weight: bolder;
  padding: 0 25px;
  box-sizing: border-box;
  font-size: 25px;

  animation: scroll-up calc(var(--animationDuration, 10s)) linear infinite;
}

@keyframes scroll-up {
  100% {
    top: calc(-1 * var(--text-height, 0px));
  }
}